In [109]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
# Doing simple linear regression

In [111]:
data = pd.read_csv('dummyData.csv')

In [113]:
pd.DataFrame(data)

           Date           Category Description  Amount
0    18/02/2024             Travel      Credit   $7.97
1    19/10/2023               Food      Credit  $11.79
2    29/03/2024           Category      Credit  $51.49
3    11/05/2023      Entertainment       Debit  $51.23
4    05/08/2023      Entertainment       Debit  $65.96
..          ...                ...         ...     ...
994  28/03/2023           Category       Debit  $23.07
995  02/03/2023           Category      Credit  $53.57
996  15/04/2024             Travel       Debit  $94.36
997  23/01/2023          Transport       Debit  $75.48
998  14/04/2023  Social Activities      Credit  $46.72

[999 rows x 4 columns]

In [115]:
df = pd.DataFrame(data)
df.columns

Index(['Date', 'Category', 'Description', 'Amount'], dtype='object')

In [117]:
df['Amount'] = df['Amount'].str.replace('$','')

In [119]:
df['Amount']

0       7.97
1      11.79
2      51.49
3      51.23
4      65.96
       ...
994    23.07
995    53.57
996    94.36
997    75.48
998    46.72
Name: Amount, Length: 999, dtype: object

In [121]:
df

           Date           Category Description Amount
0    18/02/2024             Travel      Credit   7.97
1    19/10/2023               Food      Credit  11.79
2    29/03/2024           Category      Credit  51.49
3    11/05/2023      Entertainment       Debit  51.23
4    05/08/2023      Entertainment       Debit  65.96
..          ...                ...         ...    ...
994  28/03/2023           Category       Debit  23.07
995  02/03/2023           Category      Credit  53.57
996  15/04/2024             Travel       Debit  94.36
997  23/01/2023          Transport       Debit  75.48
998  14/04/2023  Social Activities      Credit  46.72

[999 rows x 4 columns]

In [123]:
import datetime
a = '31/01/2010'
datee = datetime.datetime.strptime(a, "%d/%m/%Y")

datee.month

1

In [125]:
print(df['Date'].dtype)

object

In [127]:
split_date = df.Date.str.split('/',expand=True)
print(split_date)

      0   1     2
0    18  02  2024
1    19  10  2023
2    29  03  2024
3    11  05  2023
4    05  08  2023
..   ..  ..   ...
994  28  03  2023
995  02  03  2023
996  15  04  2024
997  23  01  2023
998  14  04  2023

[999 rows x 3 columns]

In [137]:
df['Day'] = split_date[0]
df['Month'] = split_date[1]
df['Year'] = split_date[2]
df

           Date           Category Description Amount Day Month  Year
0    18/02/2024             Travel      Credit   7.97  18    02  2024
1    19/10/2023               Food      Credit  11.79  19    10  2023
2    29/03/2024           Category      Credit  51.49  29    03  2024
3    11/05/2023      Entertainment       Debit  51.23  11    05  2023
4    05/08/2023      Entertainment       Debit  65.96  05    08  2023
..          ...                ...         ...    ...  ..   ...   ...
994  28/03/2023           Category       Debit  23.07  28    03  2023
995  02/03/2023           Category      Credit  53.57  02    03  2023
996  15/04/2024             Travel       Debit  94.36  15    04  2024
997  23/01/2023          Transport       Debit  75.48  23    01  2023
998  14/04/2023  Social Activities      Credit  46.72  14    04  2023

[999 rows x 7 columns]

In [143]:
one_hot = pd.get_dummies(df, columns = ['Category', 'Description'])

print(one_hot)

           Date Amount Day Month  Year  Category_Category  \
0    18/02/2024   7.97  18    02  2024              False
1    19/10/2023  11.79  19    10  2023              False
2    29/03/2024  51.49  29    03  2024               True
3    11/05/2023  51.23  11    05  2023              False
4    05/08/2023  65.96  05    08  2023              False
..          ...    ...  ..   ...   ...                ...
994  28/03/2023  23.07  28    03  2023               True
995  02/03/2023  53.57  02    03  2023               True
996  15/04/2024  94.36  15    04  2024              False
997  23/01/2023  75.48  23    01  2023              False
998  14/04/2023  46.72  14    04  2023              False

     Category_Entertainment  Category_Food  Category_Gifts & Donations  \
0                     False          False                       False
1                     False           True                       False
2                     False          False                       False
3                      True          False                       False
4                      True          False                       False
..                      ...            ...                         ...
994                   False          False                       False
995                   False          False                       False
996                   False          False                       False
997                   False          False                       False
998                   False          False                       False

     Category_Medical Expenses  Category_Personal Care  \
0                        False                   False
1                        False                   False
2                        False                   False
3                        False                   False
4                        False                   False
..                         ...                     ...
994                      False                   False
995                      False                   False
996                      False                   False
997                      False                   False
998                      False                   False

     Category_Social Activities  Category_Transport  Category_Travel  \
0                         False               False             True
1                         False               False            False
2                         False               False            False
3                         False               False            False
4                         False               False            False
..                          ...                 ...              ...
994                       False               False            False
995                       False               False            False
996                       False               False             True
997                       False                True            False
998                        True               False            False

     Description_Credit  Description_Debit
0                  True              False
1                  True              False
2                  True              False
3                 False               True
4                 False               True
..                  ...                ...
994               False               True
995                True              False
996               False               True
997               False               True
998                True              False

[999 rows x 16 columns]

In [157]:
one_hot["Category_Category"] = one_hot["Category_Category"].astype(int)
one_hot["Category_Entertainment"] = one_hot["Category_Entertainment"].astype(int)
one_hot["Category_Food"] = one_hot["Category_Food"].astype(int)
one_hot["Category_Gifts & Donations"] = one_hot["Category_Gifts & Donations"].astype(int)
one_hot["Category_Medical Expenses"] = one_hot["Category_Medical Expenses"].astype(int)
one_hot["Category_Personal Care"] = one_hot["Category_Personal Care"].astype(int)
one_hot["Category_Social Activities"] = one_hot["Category_Social Activities"].astype(int)
one_hot["Category_Transport"] = one_hot["Category_Transport"].astype(int)
one_hot["Category_Travel"] = one_hot["Category_Travel"].astype(int)
one_hot["Description_Credit"] = one_hot["Description_Credit"].astype(int)
one_hot["Description_Debit"] = one_hot["Description_Debit"].astype(int)

In [159]:
one_hot

,Date,Amount,Day,Month,Year,Category_Category,Category_Entertainment,Category_Food,Category_Gifts & Donations,Category_Medical Expenses,Category_Personal Care,Category_Social Activities,Category_Transport,Category_Travel,Description_Credit,Description_Debit
0,18/02/2024,7.97,18,02,2024,0,0,0,0,0,0,0,0,1,1,0
1,19/10/2023,11.79,19,10,2023,0,0,1,0,0,0,0,0,0,1,0
2,29/03/2024,51.49,29,03,2024,1,0,0,0,0,0,0,0,0,1,0
3,11/05/2023,51.23,11,05,2023,0,1,0,0,0,0,0,0,0,0,1
4,05/08/2023,65.96,05,08,2023,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,28/03/2023,23.07,28,03,2023,1,0,0,0,0,0,0,0,0,0,1
995,02/03/2023,53.57,02,03,2023,1,0,0,0,0,0,0,0,0,1,0
996,15/04/2024,94.36,15,04,2024,0,0,0,0,0,0,0,0,1,0,1
997,23/01/2023,75.48,23,01,2023,0,0,0,0,0,0,0,1,0,0,1
998,14/04/2023,46.72,14,04,2023,0,0,0,0,0,0,1,0,0,1,0

In [249]:
import statistics
one_hot['Amount'] = one_hot['Amount'].astype(float)
print(np.mean(one_hot['Amount']))

52.61782782782782

In [281]:
from sklearn.model_selection import train_test_split
from statsmodels.tsa.statespace.sarimax import SARIMAX
# Autoregressive Moving Average ARMA, similar to linear regression
# https://builtin.com/data-science/time-series-forecasting-python
X = one_hot.iloc[:,2:].values
y = one_hot['Amount']

print(X)

[['18' '02' '2024' ... 1 1 0]
 ['19' '10' '2023' ... 0 1 0]
 ['29' '03' '2024' ... 0 1 0]
 ...
 ['15' '04' '2024' ... 1 0 1]
 ['23' '01' '2023' ... 0 0 1]
 ['14' '04' '2023' ... 0 1 0]]

In [283]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [285]:
model = LinearRegression().fit(X_train, y_train)
model.intercept_

6599.594164343646

In [287]:
model.coef_

array([-0.22644463,  0.20641357, -3.23435059, -2.14444408, -2.92653422,
        8.32321846, -3.50297838, -4.37413633, -3.20354765,  4.6531562 ,
        0.77124793,  2.40401808,  1.45639052, -1.45639052])

In [289]:
model.score(X_train, y_train)

0.033670041769331194

In [291]:
model.score(X_test, y_test)

-0.04966156425490187

In [293]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=0).fit(X_train, y_train)

In [295]:
model.score(X_train, y_train)

0.27137128180149606

In [297]:
model.score(X_test, y_test)

-0.1174586409467877

In [299]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=0).fit(X_train, y_train)

In [301]:
model.score(X_train, y_train)

0.8225552739231801

In [303]:
model.score(X_test, y_test)

-0.2494067830484339

In [305]:
from sklearn.ensemble import AdaBoostRegressor
model = AdaBoostRegressor(random_state=0).fit(X_train, y_train)

In [307]:
model.score(X_train, y_train)

0.049659042130498654

In [309]:
model.score(X_test, y_test)

-0.04834191608681415

In [ ]:
#https://realpython.com/train-test-split-python-data/#supervised-machine-learning-with-train_test_split
#To do: research more on time-series